body{
	background-image: linear-gradient(120deg, darkgrey, white, darkgrey);
	background-repeat: no-repeat;
	background-size: 140% 140%;
	text-align: center;
}
h1{
	margin: 20px;
	margin-top: 40px;
	animation: glow 1s ease-in-out infinite alternate;
	font-size: 42px;
	font-family: sans-serif;
	color: red;
}
@keyframes glow{
	from{
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
		 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
	to{
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
		 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
}
button{
	width: 75px;
	height: 45px;
	padding: 5px;
	margin: 10px;
	font-size: 20px;
	border-radius: 30%;
	box-shadow: 5px 4px 6px grey;
}
button:hover{
	box-shadow: 8px 7px 7px grey;
}