<!DOCTYPE html>
<html>
<head>
	<title>GahioGames - {{title}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menubar.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
</head>
<body>
	<nav>
		<ul id="menu" style="top: -16px; left: 0;">
			<li><a href="{{ url_for('home') }}" target="_blank">Home</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropdown">&middot;Notícias&middot;</a>
				<div class="cont">
					<a href="#">Redes</a>
					<a href="#">Hardware</a>
					<a href="#">Software</a>
				</div>
			</li>
			<li><a href="{{ url_for('contact') }}">Contato</a></li>
			<li><a href="{{ url_for('sign') }}"><b>Inscreva-se</b></a></li>
		</ul>
	</nav>

	<br>
	<br>
	<section>
		<h1>Contate-nos</h1>
		<h4>Aceitamos críticas e sugestões!</h4>
		<br>
		<form method="post">
			<label for="msg_type">Escolha o tipo de mensagem: </label>
			<select name="msg_type">
				{% for opt in msg_types %}
				<option value="{{ opt }}">{{ opt }}</option>
				{% endfor %}
			</select>
			<h3>Você realizou: {{ request.form.getlist("msg_type")[0] }}</h3>
			<textarea cols="40" rows="8" placeholder="Escreva aqui... " style="resize: none;" required></textarea>
			<br>
			<br>
			<button type="submit" value="submit">Enviar</button>
			<button style="background-color: red;" value="reset" type="reset">Limpar</button>
		</form>
	</section>
</body>
</html>