<!DOCTYPE html>
<html>
<head>
	<title>GahioGames - Contato</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<nav>
		<ul id="topo">
			<li><a href="homepage.html" target="_blank">Home</a></li>
			<li><a href="sobre.html">Info</a></li>
			<li class="drop">
			<a href="#" class="drop">&middot;Notícias&middot;</a>
			<div class="cont">
				<a href="#">Redes</a>
				<a href="#">Hardware</a>
				<a href="#">Software</a>
			</div>
			</li>
			<li><a href="contate.html">Contato</a></li>
			<li><a href="inscreva.html"><b>Inscreva-se</b></a></li>
		</ul>
	</nav>

	<h1>Contate-nos</h1>
	<h4>Aceitamos críticas e sugestões!</h4>
	<br>
	<div>
		<label for="msg">Escolha o tipo de mensagem: </label>
		<select name="msg"></select>
		<h3>Você vai realizar: {{escolhido}}</h3>
	</div>
	<form method="post">
		<textarea cols="40" rows="8" placeholder="Escreva aqui: "></textarea>
		<br>
		<br>
		<div style="margin-left: 45%;">
			<button type="submit" value="submit">Enviar</button>
			<button style="background-color: red;" value="reset" type="reset">Limpar</button>
		</div>
	</form>
</body>
</html>