<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style type="text/css">
		.bar{
			background-color: lightblue;
			height: 50px;
		}
		h1, p{
			text-align: center;
			font-family: sans-serif;
		}
	</style>
</head>
<body>
	<div class="bar"></div>
	<div>
		<h1>Não perca nossas novidades e atualizações!</h1>
		<br>
		<p>Volte sempre a GahioGames...</p>
	</div>
	<div class="bar"></div>
</body>
</html>