<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script-->
	<title>GahioGames - {{title}}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menubar.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="static/img/fallout.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
	<nav>
		<ul id="menu" style="top: -16px; left: 0;">
			<li><a href="{{ url_for('home') }}" target="_blank">Home</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li class="dropdown">
				<a href="javascript:void(0)" class="dropdown">&middot;Notícias&middot;</a>
				<div class="cont">
					<a href="{{ url_for('redes') }}">Redes</a>
					<a href="{{ url_for('hardware') }}">Hardware</a>
					<a href="{{ url_for('software') }}">Software</a>
				</div>
			</li>
			<li><a href="{{ url_for('contact') }}">Contato</a></li>
			<li>
				<a href="{{ url_for('sign') }}"><b>Inscreva-se</b></a>
			</li>
		</ul>
	</nav>

	<div><!-- class="heroimg"-->
		<div style="text-align: center;">
			<br>
			<h1>Inscreva-se</h1>
			<h4>Para saber de todas nossas novidades!!!</h4>

			{% if not session["logged"] %}
			<form autocomplete="on" method="post">
				{{ form.hidden_tag() }}
				<p> {{ form.user(placeholder="Username", size=26) }} </p>
				{% for error in form.user.errors %}
				<p style="color: red;"> {{ error }} </p>
				{% endfor %}

				<p> {{ form.email(placeholder="E-mail", size=24) }} </p>
				{% for error in form.email.errors %}
				<div class="errorbox">
					<p style="color: red;"> {{ error }} </p>
				</div>
				{% endfor %}

				<p> {{ form.password(placeholder="Password", size=22) }} </p>
				{% for error in form.password.errors %}
				<p style="color: red;"> {{ error }} </p>
				{% endfor %}

				<p> {{ form.submit() }} </p>
			</form>
			{% endif %}

			{% if session["logged"] %}
			<br>
			<h2 style="font-family: sans-serif;">You are logged as {{ session["username"] }}</h2>
			<a href="{{ url_for('logout') }}">
				<button id="circle">
					<i class="fa fa-sign-out fa-2x" style="color: white;"></i>
				</button>
			</a>
			{% endif %}

			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul style="text-align: center;">
				{% for msg in messages %}
				<li style="float: none;">{{ msg }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}

			<h4>Visite nossas outras páginas também!!!</h4>
			<a href="https://facebook.com" class="icon"><span class="fa fa-facebook-square"></span></a>
			<a href="https://store.steampowered.com" class="icon"><span class="fa fa-steam-square"></span></a>
			<a href="https://twitter.com" class="icon"><span class="fa fa-google-plus-official"></span></a>
		</div>
	</div>
</body>
</html>